
.footer-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    background-color: #1b242f;
    margin-top: 150px;
    height: fit-content;
}

.contact{
    padding-top: 3rem;
    width: 100vw;
    color: white;
    background-color: #1b242f;;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-underline{
    height: 5px;
    width: 150px;
    background-color:white;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 40%;
    min-height: 50vh;
    max-height: fit-content;
    justify-content: space-evenly;
}
input{
   
    margin-bottom: 20px;
    background-color: #2e3947;
    border: 0;
    flex-basis: 5vh;
    width: 100%;
    color: rgb(181, 187, 192);
}
.contact-question{
    margin-top: 10px;
    color: #19d3da;
    text-align: center;
}
textarea{
    flex-basis: 20vh;
    color: rgb(181, 187, 192);
    background-color: #2e3947;
    border: 0;
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 20px;    
}
.social{
    margin-top: 30px;
    margin-bottom: 20px;
    align-self: center;
    width: 40%;
    display: flex;
    justify-content: space-evenly   ;

}
.social i{
    color :rgb(87, 91, 94);
    font-size: 30px;
    transition: all 0.3s ease;
   
}
.social-wrapper{
    display: flex;
    width: 100vw;
    justify-content: center;
    background-color: #2c343f;
}
.social i:hover{
    color: #e31b6d;
}
.button{
    transition: all 0.3s ease-in-out;
}
.button:hover{
    background-color: #424c5a ;
    color: #e31b6d;
}
.errors{
    color: red;
}
@media screen and (max-width:900px){

    form{
        width:80%;
    }


}
@media screen and (max-width:700px){

   
    .footer-wrapper{
height: 100vh;
justify-content: space-between  ;
    }

}