.info-container{
    width: 100vw;
    
    margin: 0;
    padding: 0;
    display: grid;
 
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr) ;
}

.info-picture{
    align-self: center;
height: 300px;
width: 300px;
background: url("./mypic.jpg");
background-repeat: no-repeat;
background-position: center;
background-position-x: right;
background-position-y: center;
background-size: cover;
clip-path:polygon(20% 0% ,80% 0% , 100% 50%, 80% 100%, 20% 100%, 0% 50%) ;
grid-column: 2/3; 
grid-row: 1/3;
}
.info-text{
    grid-row: 1/3;
    grid-column:4/5 ;
}
.Skills{
    grid-row: 2/4;
    grid-column:4/5 ;
}
@media screen and (max-width:700px){
    .info-container{
  
        padding: 10px;
       
        display: grid;
     
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,1fr) ;
        align-items: center;
        justify-items: center;
        margin-bottom: 20px;
    }
    .info-picture{
    height: 250px;
    width: 250px;
    grid-column: 2/3 ;
    grid-row: 1/3;
    }
    .info-text{
        font-size: 14px;
        grid-column: 2/3 ;
        grid-row: 3/4;
    }
    .Skills{
        grid-row: 4/5;
     
        grid-column:2/3 ;
    }

}


