.landing-container{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-height: fit-content;
    width: 100vw;
    background-image: url('https://wallpaperaccess.com/full/1657858.jpg');
    /* background: url('https://d585tldpucybw.cloudfront.net/sfimages/default-source/labs/kendo/2020-revamp/overview-bg.jpg?v=2'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-content: center   ;
    justify-content: center;
}
.shade-landing{
    min-height: 100vh;
    max-height: 100%;
    padding: 50px;
    width: 100%;

    background-color: rgba(12, 0, 34, 0.5);
}
.landing{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.landing-text{
    flex-basis:40vh ;
    display: flex;
    align-items: center;
    color: black;
    width: 50vw;
    text-align: justify;
    color: white;
    font-size: 40px;
    text-align: center;
}
.landing-btns{ 
    width: 30vw;
    
      
    display: flex;
    justify-content: space-around;
    align-items: center;
    
} 
.landing-btn-see-my-work{
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    border:2px solid #e31b6d  ;
    background-color:#e31b6d; 
    color: white;
    transition: all 0.4s ease;
    
}
.landing-btn-see-my-work i{
    transform: rotate(0);
    transition: transform 0.4s ease;
  }
.landing-btn-see-my-work:hover{
    font-weight: bold;
    background-color:transparent; 
    
    color: #e31b6d; 
    cursor: pointer;
}
.landing-btn-see-my-work:hover i{
  transform: rotate(90deg);
}

.landing-btn-contact{
    padding: 10px 20px;
    border-radius: 20px;
    border:2px solid white  ; 
    font-weight: bold;
    background-color:transparent; 

    color: white; 
    cursor: pointer;
    transition: all 0.4s ease;
}

.landing-btn-contact:hover{
    
    background-color:#e31b6d ; 
    border:2px solid #e31b6d  ; 
    
    cursor: pointer;
}

@media screen and (max-width:700px){

    .landing-btns{
        flex-direction: column;
        flex-basis: 20vh;
        width: 100vw;
    }
    .landing-text{
        width: 80%;
        font-size: 26px;
        }

}

@media screen and (max-width:960px){

    .landing-btns{
        flex-direction: column;
        justify-content:space-around ;
        flex-basis: 20vh;
        width: 100vw;
    }
    .landing-text{
        width: 80%;
        font-size: 28px;
        }

}
