.skill{
    margin: 0;
    margin-bottom:20px ;
    padding: 0;
    height: 3vh;
    width: 40vw;
    display: flex;
    align-content: center;
    align-items: center;
  
}
p{
    margin: 0;
}
h4{
    margin: 0;
    align-self: center;
    text-align: center;
}
.skill-name{
   display: grid; 
  flex-basis: 20%;
   background-color: #14b5bb;
   height: 100%;
   justify-content: center;
   align-items: center;
   color: white;
    
}
.skill-level{
    display: flex;
    align-items: center;
    flex-basis: 75%;
    height: 100%;
    background-color: #eee;    
}
.skill-level-fill{
    height: 100%;
    background-color: #19d3da;
  
}
.level-percent{
    flex-basis: 5%;
}


@media screen and (max-width:700px){
    .skill{
        width: 90vw;
    }


}